body{
    background-color: #1f2937;

}
.header{
    background-color:#1f2937;
    font-size: 24px;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    
}
a{
    font-size:22px ;
    padding: 8px; ;
    color: aliceblue;
    text-decoration: none;
}
ul {
    /* this removes dot from the lists */
    list-style-type: none;
    display: flex;
    margin: 0%;
    padding: 0%;
    gap: 10px;
}
.container{
    background-color: azure;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 38px;
}
p{
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}
.signup{
    padding: 8px 16px;
    border-radius: 8px;
    background-color:royalblue;
    border: 1px solid white;
    color: white ;
}